version: '3.8'
services:

  # PHP Service
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: dashboard-kecamatan-app
    container_name: dashboard-kecamatan-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  # MySQL Service
  db:
    image: mysql:8.4
    container_name: dashboard-kecamatan-db
    restart: unless-stopped
    tty: true
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: dashboard_kecamatan
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: user
    volumes:
      - dbdata:/var/lib/mysql
      - ./_migration/database.sql:/docker-entrypoint-initdb.d/database.sql
    networks:
      - app-network

  # Nginx Service
  nginx:
    image: nginx:alpine
    container_name: dashboard-kecamatan-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

# Docker Networks
networks:
  app-network:
    driver: bridge

# Volumes
volumes:
  dbdata:
    driver: local
